{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="right_row">
            <div class="row">
                <div class="publish">
                    <div class="row_title">
                        <span><i class="fa fa-newspaper-o" aria-hidden="true"></i> Status</span>

                    </div>
                    <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="publish_textarea">
                            <img class="border-radius-image" src="{% static 'images/user.jpg' %}" alt="" />
                            {{form.content}}
                        </div>
                        <div class="publish_icons">
                            <ul>
                                <button type="button" onclick="document.getElementById('imageInput').click()">Image</button>
                                <li><i class="fa fa-video-camera"></i></li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i></li>
                            </ul>
                            <button type="submit">Post</button>
                            
                        </div>

                        <!-- The actual file input (hidden visually) -->
                        <input type="file" id="imageInput" style="display: none;" accept="image/*" name="image">
                    </form>
                    
                </div>
            </div>

            {% for post in posts %}
            <div class="row border-radius">
                <div class="feed">
                    <div class="feed_title">
                        <img src="{% static 'images/user-7.jpg' %}" alt="" />
                        <span><b>{{post.user.first_name.capitalize}} {{post.user.last_name.capitalize}}</b> shared a <a href="feed.html">post</a><br><p>{{post.timestamp}}</p></span>
                    </div>
                    <div class="feed_content">
                        <div class="feed_content_image">
                            <a href="feed.html"><img src="{{post.image.url}}" alt="" /></a>
                            <p>{{post.content}}</p>
                        </div>
                    </div>
                    

                    <div class="feed_footer">
                        <ul class="feed_footer_left">
                            <li class="hover-orange selected-orange"><i class="fa fa-heart"></i> 22k</li>
                            <li><span><b>Jimmy, Andrea</b> and 47 more liked this</span></li>
                        </ul>
                        <ul class="feed_footer_right">
                            <li>
                                <li class="hover-orange selected-orange"><i class="fa fa-share"></i> 7k</li>
                                <a href="feed.html" style="color:#515365;"><li class="hover-orange"><i class="fa fa-comments-o"></i> 74 comments</li></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}

            

            
            

            
            
            <center>
                <a href=""><div class="loadmorefeed">
                    <i class="fa fa-ellipsis-h"></i>
                </div></a>
            </center>
        </div>
    
        <!--friends suggestions start-->

<div class="suggestions_row">
    <div class="row shadow">
        <div class="row_title">
            <span>Friend Suggestions</span>
            <a href="friends.html">see more..</a>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/user-7.jpg' %}" alt="" />
            <span><b>Francine Smith</b><br>8 Friends in Common</span>
            <button>+</button>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/user-2.jpg' %}" alt="" />
            <span><b>Hugh Wilson</b><br>6 Friends in Common</span>
            <button>+</button>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/user-6.jpg' %}" alt="" />
            <span><b>Karen Masters</b><br>6 Friends in Common</span>
            <button>+</button>
        </div>
    </div>
<!--friends suggestions ends-->


<!--activity field start-->
    <div class="row shadow">
        <div class="row_title">
            <span>Activity Feed</span>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/user-7.jpg' %}" alt="" />
            <span>Marina Polson commented on Jason Mark’s <a href="" class="selected-orange">photo</a>..</span>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/user-2.jpg' %}" alt="" />
            <span>Jake Parker  liked Nicholas Grissom’s <a href="" class="selected-orange">status update</a>..</span>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/user-3.jpg' %}" alt="" />
            <span>Mary Jane Stark  added 20 new photos to her <a href="" class="selected-orange">gallery album</a>..</span>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/user-6.jpg' %}" alt="" />
            <span>Marina Polson commented on Jason Mark’s <a href="" class="selected-orange">photo</a>..</span>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/user.jpg' %}" alt="" />
            <span>Jake Parker  liked Nicholas Grissom’s <a href="" class="selected-orange">status update</a>..</span>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/user-4.jpg' %}" alt="" />
            <span>Mary Jane Stark  added 20 new photos to her <a href="" class="selected-orange">gallery album</a>..</span>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/user-5.jpg' %}" alt="" />
            <span>Marina Polson commented on Jason Mark’s <a href="" class="selected-orange">photo</a>..</span>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/user-2.jpg' %}" alt="" />
            <span>Jake Parker  liked Nicholas Grissom’s <a href="" class="selected-orange">status update</a>..</span>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/user-7.jpg' %}" alt="" />
            <span>Mary Jane Stark  added 20 new photos to her <a href="" class="selected-orange">gallery album</a>..</span>
        </div>
    </div>
<!--activity field ends-->

<!--pages you may like start-->

    <div class="row shadow">
        <div class="row_title">
            <span>Pages You May Like</span>
            <a href="#">see more..</a>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/group-1.png' %}" alt="" />
            <span><a href=""><b>The Marina Bar</b></a><br>Restaurant / Bar</span>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/group-2.jpg' %}" alt="" />
            <span><a href=""><b>Caverna Roch</b></a><br>Rock / Band</span>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/group-3.png' %}" alt="" />
            <span><a href=""><b>Pixel Digital Design</b></a><br>Company</span>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/group-1.png' %}" alt="" />
            <span><a href=""><b>The Marina Bar</b></a><br>Restaurant / Bar</span>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/group-2.jpg' %}" alt="" />
            <span><a href=""><b>Caverna Roch</b></a><br>Rock / Band</span>
        </div>
        <div class="row_contain">
            <img src="{% static 'images/group-3.png' %}" alt="" />
            <span><a href=""><b>Pixel Digital Design</b></a><br>Company</span>
        </div>
    </div>
</div>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>

<!--pages you may like ends-->


        {% endblock %}